#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow-x: hidden;
    -ms-overflow-style: none;
}

#root .temp_background{
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('../img/temp_back_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    display:none;
}

#root #section_1{
    /*background-color: rgba(55,55,55,1);*/
    background-color: rgba(0,0,0,0.85);

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    color: rgba(255,255,255,1);
}

#section_1 #header{
    border: 1px solid red;
    height: 60px;
    display: flex;
}

#header .h_sec_1{
    width: 150px;
    border: 1px solid red;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 15px;
}
#header .h_sec_2{
    flex-grow: 1;
}
#header .h_sec_3{
    border: 1px solid red;
    display: flex;
    margin-right: 50px;
}
#header .h_sec_3 .h_content{
    flex-grow: 1;
    border: 1px solid blue;
    margin-left: 15px;
    padding-top: 10px;
}


#section_1 #nav{
    border: 1px solid red;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    display: flex;
    flex-direction: column;

    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
#nav .nav_sub{
    flex-grow: 1;
}
#nav .nav_content{
    border: 1px solid blue;
    height: 15%;
}
#nav .nav_content .text{
    border: 1px solid red;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#section_1 #scroll{
    border: 1px solid red;
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;

    font-size: 20px;
}
#section_1 #main{
    /*border: 10px solid yellow;*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#main .m_content_1{
    border: 1px solid red;
    flex-grow: 7.5;
}

#main .m_content_1 .content_text{
    border: 1px solid blue;
    position:relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);

    font-size: 8vw;
}


#main .m_content_2{
    border: 1px solid red;
    flex-grow: 4.5;
    display: flex;
    padding: 0 10% 0 10%;
}

#main .m_content_2 .m_c_item{
    flex-grow: 1;
    border: 1px solid yellow;
    text-align: center;
}

.m_content_2 .m_c_item .content_icon{
    font-size: 1.5vw;
}
.m_content_2 .m_c_item .content_text{
    font-size: 20px;
    font-weight: 600;
}
.m_content_2 .m_c_item .content_count{
    margin-top: 15px;

    font-size: 40px;
    font-weight: 600;
}


#root .temp_section{
    border: 1px solid red;
    height: 90%;
}
#root .temp_section .text{
    position:relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);

    color: rgba(255,255,255,1);
    font-size: 20vw;
    letter-spacing: 5px;
}



#root #section_2{
    background-color: rgba(0,0,0,0.85);
    /*background-color: gray;*/
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;

    color: white;
}
#section_2 .main_sec_1{
    border: 1px solid red;
    margin: 0 10% 70px 10%;
}

#section_2 .main_sec_1 .title_box{
    border: 1px solid white;
    padding: 20px;
    font-size: 40px;
    font-weight: 600;
}

#section_2 .main_sec_1 .content_box{
    border: 1px solid white;
    display: flex;
    height: 100px;
}

#section_2 .main_sec_1 .content_box .left_sec{
    border: 1px solid yellow;
    flex-grow: 5;
}
#section_2 .main_sec_1 .content_box .right_sec{
    border: 1px solid yellow;
    flex-grow: 7;
}


#section_2 .main_sec_2{
    border: 1px solid red;
    margin: 0 10% 0 10%;
}

#section_2 .main_sec_2 .title_box{
    border: 1px solid white;
    padding: 20px;
    font-size: 40px;
    font-weight: 600;
}

#section_2 .main_sec_2 .content_box{
    border: 1px solid white;
    display: flex;
}

#section_2 .main_sec_2 .content_box .title{
    text-align: center;
    border: 1px solid white;
    padding: 10px;

    font-size: 20px;
    font-weight: 600;

}
#section_2 .main_sec_2 .content_box .icon{
    border: 1px solid white;
    text-align: center;
}
#section_2 .main_sec_2 .content_box .icon .skill_icon{
    width: 5vw;
    height: 5vw;
    margin: 0.5vw;
}

#section_2 .main_sec_2 .content_box .content{
    border: 1.5px solid rgba(255,255,255,1);
    border-radius: 5px;
    height: 200px;
    margin: 20px;
    padding: 10px;
}

#section_2 .main_sec_2 .content_box .left_sec{
    border: 1px solid yellow;
    flex-grow: 6;
}
#section_2 .main_sec_2 .content_box .right_sec{
    border: 1px solid yellow;
    flex-grow: 6;
}


#root #section_3{
    /*background-color: rgba(0,0,0,0.85);*/
    background-color: gray;
    width: 100%;
    height: 1000px;
}