#root {
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow-x: hidden;
    -ms-overflow-style: none;
}

#root .temp_section{
    /*border: 1px solid red;*/
    height: 90%;
    /*border: 1px solid blue;*/


}
#root .temp_section .text{
    /*border:1px solid red;*/
    position:relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -55%);
    -o-transform:translate(-50%, -55%);

    color: rgba(255,255,255,1);
    font-size: 18vw;
    letter-spacing: 5px;

    font-family: 'Playfair Display', serif;
}

#root .temp_background{
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('../img/temp_back_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    display:none;
}

#root #top_button{
    z-index: 100;

    border: 1.5px solid white;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    padding-bottom: 6px;
    margin-right: 40px;
    margin-bottom: 50px;
}

#root #section_1{
    /*background-color: rgba(55,55,55,1);*/
    background-color: rgba(0,0,0,0.85);

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    color: rgba(255,255,255,1);
}

#section_1 #header{
    /*border: 1px solid red;*/
    height: 60px;
    display: flex;
}

#header .h_sec_1{
    width: 150px;
    /*border: 1px solid red;*/
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 30px;
}
#header .h_sec_2{
    flex-grow: 1;
}
#header .h_sec_3{
    /*border: 1px solid red;*/
    display: flex;
    margin-right: 50px;
}
#header .h_sec_3 .h_content{
    flex-grow: 1;
    /*border: 1px solid blue;*/
    margin-left: 15px;
    padding-top: 10px;
}


#section_1 #nav{
    /*border: 1px solid red;*/
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    display: flex;
    flex-direction: column;

    font-size: 20px;
    font-weight: 600;
    text-align: center;

    margin-right: 55px;
}
#nav .nav_sub{
    flex-grow: 1;
}
#nav .nav_content{
    /*border: 1px solid blue;*/
    height: 15%;
}
#nav .nav_content .text{
    /*border: 1px solid red;*/
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);

    -webkit-transition: font-size 0.1s ease;
    transition: font-size 0.1s ease;

    width: 30px;

    display: none;

    font-family: 'Playfair Display', serif;
}
#nav .nav_content .text:hover{
    font-size: 25px;
}

#section_1 #scroll{
    /*border: 1px solid red;*/
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;

    font-size: 20px;
}
#section_1 #main{
    /*border: 1px solid yellow;*/
    height: 100%;
}

#main .m_content_1{
    /*border: 1px solid red;*/
    height: 65%;
}

#main .m_content_1 .content_text{
    /*border: 1px solid blue;*/
    position:relative;
    text-align: center;

    /*margin-top: 20%;*/

    top: 55%;
    left: 50%;
    transform:translate(-50%, -55%);
    -webkit-transform:translate(-50%, -55%);
    -ms-transform:translate(-50%, -55%);
    -moz-transform:translate(-50%, -55%);
    -o-transform:translate(-50%, -55%);

    font-size: 10vw;

    display: none;
}


#main .m_content_2{
    /*border: 1px solid red;*/
    flex-grow: 4.5;
    display: flex;
    padding: 0 10% 0 10%;
    height: 35%;
}

#main .m_content_2 .m_c_item{
    flex-grow: 1;
    /*border: 1px solid yellow;*/
    text-align: center;
}

.m_content_2 .m_c_item .content_icon{
    font-size: 1.5vw;
}
.m_content_2 .m_c_item .content_text{
    font-size: 20px;
    font-weight: 600;
}
.m_content_2 .m_c_item .content_count{
    margin-top: 15px;
    font-size: 40px;
    font-weight: 600;
}



#root #section_2{
    background-color: rgba(0,0,0,0.85);
    /*background-color: gray;*/
    width: 100%;
    padding-top: 100px;
    padding-bottom: 130px;

    color: white;
}
#section_2 .main_sec_1{
    /*border: 1px solid red;*/
    margin: 0 10% 100px 10%;
}

#section_2 .main_sec_1 .title_box{
    /*border: 1px solid white;*/
    padding: 20px;
    font-size: 40px;
    font-weight: 600;

    margin-bottom: 30px;
}

#section_2 .main_sec_1 .content_box{
    /*border: 1px solid white;*/
    display: flex;
}

#section_2 .main_sec_1 .content_box .left_sec{
    /*border: 1px solid yellow;*/
    width: 40%;
    text-align: center;
}
#section_2 .main_sec_1 .content_box .left_sec #profile_img{
    width: 60%;
    border-radius: 5px;
}

#section_2 .main_sec_1 .content_box .right_sec{
    /*border: 1px solid yellow;*/
    width: 55%;
}
#section_2 .main_sec_1 .content_box .right_sec .name{
    font-size: 23px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 25px;
}
#section_2 .main_sec_1 .content_box .right_sec #born_date{
    font-size: 15px;
    margin-left: 5px;
}
#section_2 .main_sec_1 .content_box .right_sec .title{
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 15px;
}
#section_2 .main_sec_1 .content_box .right_sec .text{
    font-size: 15px;

    margin-left: 5px;
    margin-bottom: 25px;
}

#section_2 .main_sec_2{
    /*border: 1px solid red;*/
    margin: 0 10% 0 10%;
}

#section_2 .main_sec_2 .title_box{
    /*border: 1px solid white;*/
    padding: 20px;
    font-size: 40px;
    font-weight: 600;

    margin-bottom: 30px;
}

#section_2 .main_sec_2 .content_box{
    /*border: 1px solid white;*/
    display: flex;
}

#section_2 .main_sec_2 .content_box .title{
    text-align: center;
    /*border: 1px solid white;*/
    padding: 10px;

    font-size: 20px;
    font-weight: 600;

}
#section_2 .main_sec_2 .content_box .icon{
    /*border: 1px solid white;*/
    text-align: center;
}
#section_2 .main_sec_2 .content_box .icon .skill_icon{
    width: 5vw;
    height: 5vw;
    margin: 0.5vw;
    border: 0px solid white;
    border-radius: 100%;
    -webkit-transition: border 0.1s ease;
    transition: border 0.1s ease;
}
#section_2 .main_sec_2 .content_box .icon .skill_icon:hover{
    border: 5px solid rgba(255,255,255,0.8);
}

a.skill_icon_link:link {
    text-decoration: none;
    color: white;
}
a.skill_icon_link:visited {
    text-decoration: none;
    color: white;
}

#section_2 .main_sec_2 .content_box .content{
    border: 1.5px solid rgba(255,255,255,1);
    border-radius: 5px;
    height: 260px;
    margin: 20px;
    padding: 20px;

    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

#section_2 .main_sec_2 .content_box .left_sec{
    /*border: 1px solid yellow;*/
    width: 50%;
}
#section_2 .main_sec_2 .content_box .right_sec{
    /*border: 1px solid yellow;*/
    width: 50%;
}


#root #section_3{
    background-color: rgba(0,0,0,0.85);
    /*background-color: gray;*/
    width: 100%;
    padding-top: 8%;
    padding-bottom: 5%;

    color: rgba(255,255,255,1);
}

#root #section_3 .main_sec_1{
    /*border: 1px solid red;*/
    margin: 0 10% 5% 10%;
}

#root #section_3 .main_sec_1 .title{
    /*border: 1px solid blue;*/

    font-size: 40px;
    font-weight: 500;
    margin-bottom: 6%;
}

#root #section_3 .main_sec_1 .content_box {
    /*border: 1px solid white;*/
    margin-bottom: 8%;
}
#root #section_3 .main_sec_1 .content_box .index{
    /*border: 1px solid red;*/
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4%;
}
#root #section_3 .main_sec_1 .content_box .index .index_num{
    margin-right: 10px;
    font-size: 24px;
}

#root #section_3 .main_sec_1 .content_box .content{
    display: flex;
}

#root #section_3 .main_sec_1 .content_box .content .left_sec{
    width: 55%;
    /*border: 1px solid red;*/
}
#root #section_3 .main_sec_1 .content_box .content .left_sec .top{
    display: flex;
    margin-left: 2%;
    margin-right: 5%;
}
#root #section_3 .main_sec_1 .content_box .content .left_sec .top .temp_box{
    flex-grow: 1;
}
#root #section_3 .main_sec_1 .content_box .content .left_sec .top .view_button{
    border: 1px solid white;
    border-radius: 5px;

    background-color: rgba(255,255,255,0.1);
    -webkit-transition: background-color 0.3s ease;
    transition: border 0.1s ease;

    font-size: 20px;
    font-width: 600;

    padding: 6px 10px 6px 10px;

    margin: 30px 10px 30px 10px;

}
#root #section_3 .main_sec_1 .content_box .content .left_sec .top .view_button:hover{
    background-color: rgba(255,255,255,0.5);
}

#section_3 .main_sec_1 .content_box .content .left_sec #work_img{
    width: 93%;
    margin: 0 5% 0 2%;
    border: 1px solid white;
    border-radius: 5px;

    box-shadow: 5px 5px 10px 5px rgba(255,255,255,0.3);
}

#root #section_3 .main_sec_1 .content_box .content .right_sec{
    width: 45%;
    /*border: 1px solid red;*/

    padding-top: 20px;
    padding-left: 2%;
}

#root #section_3 .main_sec_1 .content_box .content .right_sec .content_title{
    font-size: 20px;
    font-weight: 600;

    margin-bottom: 10px;
}
#root #section_3 .main_sec_1 .content_box .content .right_sec .content_text{
    font-size: 15px;
    font-weight: 600;

    line-height: 28px;
    margin-left: 10px;
    margin-bottom: 20px;

    letter-spacing: 0.2px;

    word-break: keep-all;
}


#root #section_4{
    /*background-color: rgba(0,0,0,0.85);*/
    background-color: white;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 30px;
}

#root #section_4 .title{
    text-align: center;
    font-size: 5vw;
    margin-bottom: 20px;
}

#root #section_4 .content_box{
    text-align: center;
    margin-bottom: 5%;
}
#root #section_4 .content_box .content{
    margin-bottom: 5px;
}
#root #section_4 .content_box .contact_icon{
    width: 25px;
    height: 25px;
    margin: 5px;
    margin-top: 15px;
}

#root #footer{
    /*border: 1px solid red;*/
    font-size: 13px;
    font-weight: 600;
}
#root #footer #copyright{
    text-align: center;
}